[package]
name = "cue_config"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
cue_common = { path = "../cue_common" }
serde.workspace = true
toml.workspace = true
anyhow.workspace = true
